* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --secondary-color: #FFC83B;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Noto Serif', serif;    
    color: #222;
    line-height: 2;
    background-color: #FCFCFC;
}
.bigcontainer {
    background-image: url(images/bg.png);
    background-color: #FCFCFC;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;  
}

.hellotext {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    border-radius: 10px;
    box-shadow: 3px 3px 0px var(--secondary-color);
    padding: 0 1rem;
    /* place in the middle of the window */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.justtext {
    background-color: rgba(255, 255, 255, 0.5);
}
